<div class="container">
	<h1>Votes on blockchain</h1>
	<p>Each block represents a vote on the chain. Click on a block to see the votes stored inside.</p>
</div>

<div class="container" style="overflow-x: scroll;white-space: nowrap;">
	<app-block-view 
		*ngFor="let block of blocks" 
		[block]="block" 
		[selectedBlock]="selectedBlock"
		(click)="showTransactions(block)"
	></app-block-view>
</div>

<br><br>

<div class="container">
		<h1>Votes inside Block {{ getBlockNumber(selectedBlock) }}</h1>

	<app-transactions-table
		[transactions]="selectedBlock.transactions"
	></app-transactions-table>
</div>

