<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/logo-savjee.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;Elections
  </a>

  <div>
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      Pending transactions
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button>
    &nbsp;
      &nbsp;
    <button routerLink="/wallet/Tom Burgerman" class="btn btn-outline-light">
      Tom Burgerman
    </button>
    &nbsp;
    <button routerLink="/wallet/Fiona Alanova" cssclass="Button" class="btn btn-outline-light">
      Fiona Alanova
    </button>
    &nbsp;
    <button routerLink="/wallet/Pavel Makintov" cssclass="Button"  class="btn btn-outline-light">
      Pavel Makintov
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      Vote
    </button>
  </div>
</nav>

<br>

<div class="container" *ngIf="showInfoMessage === true">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">First things first.</h4>
    This is an Lithuania President election system.
    <hr>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissInfoMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px;">
  
</footer>
